<div class="container">
    <div class="close-button-container">
      <button class="close-button" mat-icon-button [mat-dialog-close]="true"> 
        <mat-icon class="close-icon" color="warn">close</mat-icon>
      </button>
    </div>
    <div class="content-container text-center">
      <h1>User Information</h1>
      <img
        class="user-image"
        [src]="user?.user_image"
        alt="User image"
      />
      <div class="user-info">
        <p>
            Verified User: 
              <b>
                <i *ngIf="user?.verified" class="fa fa-check-circle-o" style="font-size:15px;color:#5687fb">Verified</i>
                <i *ngIf="!user?.verified" class="fa fa-times" style="font-size:15px;color:#94918c">Not Verified</i>
              </b>
          </p>
        <p>
          Full Name: <b>{{ user?.first_name }} {{ user?.last_name }}</b>
        </p>
        <p>
          Full Name: <b>{{ user?.username }}</b>
        </p>
        <p>
          Email: <b>{{ user?.email }}</b>
        </p>
        <p>
          Address: <b>{{ user?.address }}</b>
        </p>
        <p>
          Mobile Number: <b>{{ user?.mobile_number }}</b>
        </p>
        <div class="referrals" *ngFor="let refer of userReferrals">
          <div *ngIf="refer.referral_friend_dorm_id == data.dorm_id">
            <p>This user is referred by:</p>
            <p>
              Username: <b>{{ refer.referral_friend_username }}</b>
            </p>
            <p>
              Full Name: <b>{{ refer.referral_friend_full_name }}</b>
            </p>
            <p>
              <b>{{ refer.referral_friend_verified }}</b>
            </p>
          </div>
        </div>
 

        <p *ngIf="user?.dorm_tenant_date">
            Tenant of your Dorm Since: <b>{{ user?.dorm_tenant_date | date:'MMMM d, y' }}</b>
        </p>
      </div>
    </div>
  </div>
  