<div class="search-container">
    <input
        type="text"
        class="form-control"
        placeholder="Search the username of your friend"
        [(ngModel)]="title"
    />
    <button
        class="btn btn-outline-secondary button-icon m-2"
        type="button"
        (click)="searchFriend()"
    >
        <p>Search</p>
    </button>
    <ul id="search-list" *ngFor="let user of usersVerified | slice:0:8; let i = index">
        <li>
            <div class="user-info">
                <span>{{ user?.username }}</span>
                <i *ngIf="user?.verified" class="fa fa-check-circle-o verified">Verified</i>
                <i *ngIf="!user?.verified" class="fa fa-times not-verified">Not Verified</i>
            </div>
            <button class="action-button" (click)="addAsFriend(user)">Add Friend</button>
        </li>
    </ul>
</div>
