<div class="card">
  <div class="card-body">
    <p class="card-title">Schedule A Visit</p>
    <div class="form-group">
      <form [formGroup]="form" (ngSubmit)="scheduleVisit()">
        <label for="datePicker">Visit Date:</label>
        <input type="date" formControlName="schedule_date" id="schedule_date" />

        <label for="timPicker">Visit Time:</label>
        <app-time-picker-component
          formControlName="schedule_time"
          (timeSelected)="onTimeSelected($event)"
        ></app-time-picker-component>

        <label for="description" class="description-label">
          Visit Description:
        </label>
        <textarea
          type="text"
          formControlName="description"
          id="description"
          style="height: 50px"
        ></textarea>
        <mat-error *ngIf="hasError('description', 'maxlength')"
          >Not more than 100 characters</mat-error
        >

        <button
          mat-raised-button
          color="primary"
          class="btn-block update-button"
          type="submit"
          [disabled]="!form.valid"
        >
          Schedule A Visit
        </button>

        <button
          mat-raised-button
          color="secondary"
          class="btn-block update-button"
          [mat-dialog-close]="true"
        >
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>
