<!-- business registration image -->
<div class="file-upload">
  <div class="file-upload-content" *ngIf="data.business_registration_image">
    <h4>Uploaded Business Permit</h4>
    <img
      class="file-upload-image"
      src="{{ data.business_registration_image }}"
      alt="Business Permit Image"
    />
  </div>
</div>

<!-- barangay clearance image -->
<div class="file-upload">
  <div class="file-upload-content" *ngIf="data.barangay_clearance_image">
    <h4>Uploaded Barangay Clearance</h4>
    <img
      class="file-upload-image"
      src="{{ data.barangay_clearance_image }}"
      alt="Barangay Clearance Image"
    />
  </div>
</div>

<!-- BFP Permit image -->
<div class="file-upload">
  <div class="file-upload-content" *ngIf="data.bfp_permit_image">
    <h4>Uploaded BFP Permit</h4>
    <img
      class="file-upload-image"
      src="{{ data.bfp_permit_image }}"
      alt="BFP Permit Image"
    />
  </div>
</div>

<!-- Sanitary Permit image -->
<div class="file-upload">
  <div class="file-upload-content" *ngIf="data.sanitary_permit_image">
    <h4>Uploaded Satnitary Permit</h4>
    <img
      class="file-upload-image"
      src="{{ data.sanitary_permit_image }}"
      alt="Sanitary Permit Image"
    />
  </div>
</div>
