body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-slides-top{
    padding-top: 90px;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.carousel-inner img {
    width: 1150px;
    height: 535px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: white;
}

body {
    background: #E8E9EE;
  }

.image-container img{
    width: 100%;
    max-width: 450px;
    height: 250px;
    margin-top: 90px;
}
@media only screen and (max-width: 768px) {
    .image-container {
        display: none;
    }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 0.5vw;
  height: 0.5vw;
}

.dm-logo{
    width: 200px; height: 300px; margin-top: 50px; padding-left: 0;
}

.texts{
    text-indent: 60px;
}

.image-2{
    padding-right: 0;
}

.image-3{
    padding-top: 10px; 
    padding-left: 0;
}