<div class="text-center">
  <div class="row">
    <div class="col-lg-12">
      <div class="carousel-slides-top">
        <div
          id="carouselExampleAutoplaying"
          data-interval="3000"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/room1.jpg" class="slides-image" alt="Slide 1" />
            </div>
            <div class="carousel-item">
              <img src="assets/room2.jpg" class="slides-image" alt="Slide 2" />
            </div>
            <div class="carousel-item">
              <img src="assets/room3.jpg" class="slides-image" alt="Slide 3" />
              <!-- Add more slides as needed -->
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-target="#carouselExampleAutoplaying"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
            </button>

            <button
              class="carousel-control-next"
              type="button"
              data-target="#carouselExampleAutoplaying"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
   
              ></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-7">
        <div class="p-3 mt-4">
          <h1 class="display-4">Our Story</h1>
          <p class="lead text-justify texts">
            Dormate was created by a group of BSIT students at Gordon College.
            The team consisted of a team adviser, a hustler, a hipster, and a
            hacker from Team e-Tech. This was created because the team saw a
            problem finding available dormitories for students and workers in
            Olongapo City.
          </p>
          <a href="about-us" class="btn btn-outline-dark">About the Team</a>
        </div>
      </div>
      <div class="col-lg-5 image-container">
        <img
          class="w-100 shadow dm-logo"
          src="assets/DM2.png"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5 image-container">
        <img class="w-100 shadow image-2" src="assets/dorm7.jpg"/>
      </div>
      <div class="col-lg-7">
        <div class="p-5 mt-4">
          <h1 class="display-4">Our Goal</h1>
          <p class="lead text-justify texts">
            We strive to create a vibrant and inclusive living community where
            we can forge lifelong connections, foster personal growth, and
            embrace a supportive environment that enhances your Daily Life Style
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-7">
        <div class="p-5 mt-3">
          <h1 class="display-4">Our Dorms</h1>
          <p class="lead text-justify texts">
            Discover comfort and convenience at Dormate, where we provide
            accessible dormitory options in Olongapo City, designed with the
            dedicated needs of hardworking students and professionals in mind.
            Elevate your living experience with us, and let Dormate be your
            supportive sanctuary amidst your academic and professional journey
          </p>
          <a href="dorms" class="btn btn-outline-dark">See Our Vacancies</a>
        </div>
      </div>
      <div class="col-lg-5 image-container image-3">
        <img class="w-100 shadow" src="assets/dorm6.png" />
      </div>
    </div>
  </div>
</div>
