body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #E8E9EE;
}

.carousel-slides-top {
    padding-top: 90px;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.carousel-inner {
    width: 100%;
    height: 100vh;
}

.carousel-inner img {
    width: 100%;
    height: 80vh;
    object-fit:fill;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: white;
}

.image-container img {
    width: 100%;
    max-width: 450px;
    height: 250px;
    margin-top: 90px;
}

@media only screen and (max-width: 768px) {
    .image-container {
        display: none;
    }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 0.5vw;
    height: 0.5vw;
}

.dm-logo {
    width: 200px;
    height: 300px;
    margin-top: 50px;
    padding-left: 0;
}

.texts {
    text-indent: 60px;
}

.image-2 {
    padding-right: 0;
}

.image-3 {
    padding-top: 10px;
    padding-left: 0;
}

.carousel-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
