<body>
  <!-- Navigation Bar -->
  <header class="main-header">
    <div class="container">
      <nav class="navbar navbar-expand-lg main-nav px-0">
        <a class="navbar-brand" href="landing-page">
          <img
            src="assets/DM2.png"
            alt="dormate logo"
            class="dormate-logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#mainMenu"
          aria-controls="mainMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-bar icon-bar-1"></span>
          <span class="icon-bar icon-bar-2"></span>
          <span class="icon-bar icon-bar-3"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainMenu">
          <ul class="navbar-nav ml-auto text-uppercase f1">
            <li>
              <a href="landing-page">Home</a>
            </li>
            <li>
              <a href="dorms">Dorms</a>
            </li>
            <li>
              <a href="about-us">About Us</a>
            </li>
            <li *ngIf="isUserLoggedIn">
              <a href="add" *ngIf="isUserLoggedIn">List Dorm</a>
            </li>
            <li *ngIf="isMobileLayout && !isUserLoggedIn">
              <a href="/register">Register</a>
            </li>
            <li *ngIf="isMobileLayout && !isUserLoggedIn" >
              <a href="/login">Log In</a>
            </li>
            <li *ngIf="!isMobileLayout">
              <a class="dropbtn" *ngIf="isMobileLayout && !isUserLoggedIn" href="login">
                <mat-icon class="black-icon">account_circle</mat-icon>
              </a>
              <a class="dropbtn" *ngIf="isMobileLayout && isUserLoggedIn" href="profile">
                <mat-icon class="black-icon" >account_circle</mat-icon>
              </a>
              <a class="dropbtn" *ngIf="!isMobileLayout">
                <mat-icon class="black-icon">account_circle</mat-icon>
              </a>
              <ul class="dropdown" *ngIf="!isMobileLayout">
                <li *ngIf="isUserLoggedIn">
                  <a id="dropdown-button" href="/profile" *ngIf="isUserLoggedIn"
                    >Profile</a
                  >
                </li>
                <li *ngIf="isUserLoggedIn">
                  <a href="add" *ngIf="isUserLoggedIn">List Dorm</a>
                </li>
                <li *ngIf="!isUserLoggedIn">
                  <a href="/login" *ngIf="!isUserLoggedIn" id="dropdown-button"
                    >Log In</a
                  >
                </li>
                <li *ngIf="!isUserLoggedIn">
                  <a id="dropdown-button" href="/register" *ngIf="!isUserLoggedIn"
                    >Register</a
                  >
                </li>
                <li *ngIf="isUserLoggedIn">
                  <a 
                    id="dropdown-button"
                    *ngIf="isUserLoggedIn"
                    (click)="logout()"
                    >Log Out</a
                  >
                </li>
              </ul>
            </li>
            <li *ngIf="isMobileLayout && isUserLoggedIn">
              <a href="profile">Profile</a>
            </li>
            <li *ngIf="isMobileLayout && isUserLoggedIn">
              <a href="add">List Dorm</a>
            </li>
            <li *ngIf="isMobileLayout && isUserLoggedIn">
              <a 

                (click)="logout()"
                >Log Out</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- /.container -->
  </header>

  <!--Content Section-->
  <div id="container">
    <div class="body">
      <router-outlet></router-outlet>
      <app-spinner></app-spinner>
    </div>

    <div class="footer">
      <footer
        id="sticky-footer"
        class="flex-shrink-0 py-4 text-white-50 mt-auto"
      >
        <div class="container text-center">
          <small>Copyright 2024 &copy; dormate</small>
        </div>
      </footer>
    </div>
  </div>
</body>
