<div class="container">
  <div class="about-section">
    <h1>About Us</h1>
    <h2>Our Story</h2>
    <p>
      Dormate was created by a group of BSIT students at Gordon College. The
      team consisted of a team adviser, a hustler, a hipster, and a hacker from
      Team e-Tech. This was created because the team saw a problem finding
      available dormitories for students and workers in Olongapo City.
    </p>
  </div>

  <h2 style="text-align: center">Our Team</h2>
  <div class="row">
    <div class="col-sm-4 mx-auto col-centered">
      <div class="card">
        <img src="assets/sir-paul.jpg" alt="Paul" class="team-images" />
        <div class="container">
          <h2>Mr. Paul Vincent Corsina</h2>
          <p class="title">Team Adviser</p>
          <p>He is the Adviser of Team E-Tech</p>
          <p>corsina.paulvincent@gordoncollege.edu.ph</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 mx-auto">
      <div class="card">
        <img src="assets/natad.jpg" alt="Michael" class="team-images" />
        <div class="container">
          <h2>Michael John Angelo Natad</h2>
          <p class="title">Team Leader/Hacker</p>
          <p>He is the Leader and Hacker of Team E-Tech</p>
          <p>201911707@gordoncollege.edu.ph</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mx-auto">
      <div class="card">
        <img src="assets/alberto.jpg" alt="Neilsen" class="team-images" />
        <div class="container">
          <h2>Neilsen Alberto</h2>
          <p class="title">Hustler</p>
          <p>He is the Hustler of Team E-Tech</p>
          <p>201911902@gordoncollege.edu.ph</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mx-auto">
      <div class="card">
        <img src="assets/padua.jpg" alt="Joan" class="team-images" />
        <div class="container">
          <h2>Joan Michael Padua</h2>
          <p class="title">Hipster</p>
          <p>He is the Hipster of Team E-Tech</p>
          <p>201911452@gordoncollege.edu.ph</p>
        </div>
      </div>
    </div>
  </div>
</div>
