<div class="w3-container">
  <!-- !PAGE CONTENT! -->
  <div class="w3-main w3-white">
    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top: 150px"></div>

    <!-- Slideshow Header -->
    <div class="w3-container" id="apartment">
      <swiper [config]="config">
        <div
          class="swiper-wrapper"
          (click)="openImageZoomDialog(dorm.dorm_images)"
        >
          <div
            class="swiper-slide d-flex justify-content-center"
            *ngFor="let image of dorm?.dorm_images"
          >
            <img
              src="{{ image }}"
              alt="img 1"
              class="dorm_image img-responsive"
            />
          </div>
        </div>
      </swiper>
      <h2 class="w3-text-blue">
        {{ dorm?.title }}
        <i *ngIf="dorm?.publish" class="icon fa fa-check-circle-o">Posted</i>
        <i *ngIf="!dorm?.publish" class="icon fa fa-times">Not Yet Posted</i>
        <i
          *ngIf="dorm?.payment_status == 'paid'"
          class="icon fa fa-check-circle-o"
          >Posting Fee is Already Paid</i
        >
        <i *ngIf="dorm?.payment_status == 'unpaid'" class="icon fa fa-times"
          >Posting Fee is not yet Paid</i
        >
      </h2>

      <div class="w3-container">
        <div class="text-center mt-3">
          <p class="card-text">
            {{
              dorm?.publish
                ? "Dorm listing is Published"
                : "Upload Dorm Certificates, Images and pay our Posting Fee to approve publishing of your dorm listing"
            }}
          </p>
          <p class="card-text">
            <span *ngIf="dorm?.payment_status == 'paid'"
              >Dorm listing is Already Paid</span
            >
            <span *ngIf="dorm?.payment_status == 'unpaid'"
              >Please Pay our Dorm Posting Fee</span
            >
          </p>

          <div class="button-container">
            <button
              (click)="openDormImgUploadDialog(dorm)"
              class="btn btn-success dialog-button mr-2"
            >
              Upload Dorm Images
            </button>
            <button
              (click)="openCertUploadDialog(dorm)"
              class="btn btn-info dialog-button mr-2"
            >
              Upload Certificates
            </button>
            <button
              (click)="openPaymentDialog(dorm)"
              class="btn btn-info dialog-button mr-2"
            >
              Pay Posting Fee
            </button>
            <button
              (click)="openEditDormDialog(dorm)"
              class="btn btn-secondary dialog-button mr-2"
            >
              Add or Edit Dorm Information
            </button>
            <button
              (click)="openPublishDormDialog(dorm)"
              class="btn btn-success dialog-button mr-2"
              *ngIf="dorm?.publish == false"
            >
              List Dorm As For Rent
            </button>
            <button
              (click)="openPublishDormDialog(dorm)"
              class="btn btn-secondary dialog-button mr-2"
              *ngIf="dorm?.publish == true"
            >
              Unlist Dorm As For Rent
            </button>
            <button
              (click)="openDeleteDormDialog(dorm)"
              class="btn btn-danger dialog-button"
            >
              Delete Dorm
            </button>
          </div>
        </div>

        <h4><strong>Dorm Information</strong></h4>
        <div class="w3-row w3-large">
          <div class="w3-col w3-half">
            <p>
              <i class="fa fa-fw fa-male"></i> Vacancy: {{ dorm?.vacancy || 0 }}
            </p>
            <p>
              <i class="fa fa-fw fa-bath"></i> Bathrooms: {{ dorm?.bathroom }}
            </p>
            <p><i class="fa fa-fw fa-bed"></i> Rooms: {{ dorm?.bedroom }}</p>
          </div>
          <div class="w3-col w3-half">
            <p>
              <i class="fa fa-map-marker" style="width: 30px"></i
              >{{ dorm?.address }}<br />
            </p>
            <p>
              <i class="fa fa-phone" style="width: 30px"></i
              >{{ dorm?.contact_number }}<br />
            </p>
            <p>
              <i class="fa fa-user" style="width: 30px"> </i>{{ dorm?.username
              }}<br />
            </p>
          </div>
        </div>

        <h4><strong>Rules and Description</strong></h4>
        <p>
          {{ dorm?.description }}
        </p>
      </div>
      <!-- app.component.html -->
      <hr />

      <div
        class="visitor-tenant-table"
        *ngIf="
          schedulesLandlord?.length > 0 ||
          schedulesLandlordApproved?.length > 0 ||
          tenants?.length > 0
        "
      >
        <h4><strong>Dorm Visitors and Tenants</strong></h4>
        <div class="table-responsive">
          <table class="table hoverable clickable">
            <thead>
              <tr>
                <th>Visitor Full Name</th>
                <th>Approve/Reject Visit</th>
                <th>Accept/Reject Visitor As Tenant</th>
                <th>Evict Tenant</th>
              </tr>
            </thead>
            <tbody>
              <!-- Iterate over schedulesLandlord -->
              <tr *ngFor="let tenantVisit of schedulesLandlord">
                <td class="tenant-visitor-name" (click)="openTenantVisitorDialog(tenantVisit.tenant_user_id)">{{ tenantVisit.tenant_full_name }} (Visitor)</td>
                <td>
                  <div class="d-flex">
                    <button
                      class="btn btn-sm btn-primary mr-1"
                      (click)="openScheduleApproveDialog(tenantVisit)"
                    >
                      Accept Dorm Visit
                    </button>

                    <button
                      class="btn btn-sm btn-danger mr-1"
                      (click)="openScheduleRejectDialog(tenantVisit)"
                    >
                      Reject Dorm Visit
                    </button>
                  </div>
                </td>
                <td></td>
                <td></td>
              </tr>

              <!-- Iterate over schedulesLandlordApproved -->
              <tr *ngFor="let tenantVisitApproved of schedulesLandlordApproved">
                <td class="tenant-visitor-name" (click)="openTenantVisitorDialog(tenantVisitApproved.tenant_user_id)">{{ tenantVisitApproved.tenant_full_name }} (Visitor)</td>
                <td></td>
                <td>
                  <div class="d-flex" *ngIf="tenantVisitApproved.approve_visit">
                    <button
                      class="btn btn-sm btn-success mr-1"
                      (click)="openAcceptTenantDialog(tenantVisitApproved)"
                    >
                      Accept As Tenant
                    </button>

                    <button
                      class="btn btn-sm btn-danger mr-1"
                      (click)="openRejectTenantDialog(tenantVisitApproved)"
                    >
                      Reject As Tenant
                    </button>
                  </div>
                </td>
                <td></td>
              </tr>

              <!-- Iterate over tenants -->
              <tr *ngFor="let tenant of tenants">
                <td class="tenant-visitor-name" (click)="openTenantVisitorDialog(tenant.tenant_user_id)">{{ tenant.tenant_full_name }} (Tenant)</td>
                <td></td>
                <td></td>
                <td>
                  <div class="d-flex">
                    <button
                      class="btn btn-sm btn-danger"
                      (click)="openEvictTenantDialog(tenant, dorm)"
                    >
                      Evict Tenant
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
