<div class="container search-bar mx-auto">
  <div class="list row">
    <div class="col-md-8 search-bar">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search for a Dorm around these barangays"
          [(ngModel)]="title"
          [matAutocomplete]="auto"
          [formControl]="barangayCtrl"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <ng-container *ngIf="searchType === 'barangay'">
            <mat-option
              *ngFor="let barangay of filteredBarangay | async"
              [value]="barangay.name"
            >
              <span>{{ barangay.name }}</span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary button-icon"
            type="button"
            (click)="searchTitle()"
          >
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto mb-3">
  <div class="row list row">
      <mat-form-field appearance="outline" style="width: 200px;">
        <mat-select name="rentString" [(value)]="selectedRentSort" (selectionChange)="onRentSortChange()" placeholder="Rent">
          <mat-option [value]="'Low to High'">Rent: Low to High</mat-option>
          <mat-option [value]="'High to Low'">Rent: High to Low</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
</div>

<div class="container listing-card">
  <div class="row" *ngIf="dorms?.length > 0; else noDormsPlaceholder">
    <div class="col-lg-4 col-md-6" *ngFor="let dorm of dorms; let i = index">
      <div class="card">
        <div class="swiper-class">
          <swiper [config]="config">
            <div
              class="swiper-wrapper mh-100"
              (click)="openImageZoomDialog(dorm.dorm_images)"
            >
              <div class="swiper-slide" *ngFor="let image of dorm.dorm_images">
                <img
                  src="{{ image }}"
                  alt="img 1"
                  class="dorm_image img-responsive w-100"
                />
              </div>
            </div>
          </swiper>
        </div>

        <div class="card-body" (click)="goToDormDetail(dorm._id)">
          <h5 class="card-title">{{ dorm.title }}</h5>
          <p class="card-details">{{ dorm.createdAt | date : "MMMM d, y" }}</p>
          <p class="card-details">{{ dorm.address }}</p>
          <p class="card-details font-weight-bold">
            {{ dorm.bedroom }}
            <i class="fa fa-bed" aria-hidden="true"></i> bedrooms |
            {{ dorm.bathroom }}
            <i class="fa fa-bath" aria-hidden="true"></i> bathrooms
          </p>
          <p class="card-details font-weight-bold">
            {{ dorm.vacancy || 0 }}
            <i class="fa fa-home" aria-hidden="true"></i> vacancy |
            {{ dorm.visit_counter || 0 }}
            <i class="fa fa-user"></i> user visits
          </p>
          <p class="card-details font-weight-bold">
            <i
                  *ngIf="dorm.publish"
                  class="fa fa-check-circle-o"
                  style="font-size: 15px; color: #5cb85c"
                  >For Rent</i
                >
                <i
                  *ngIf="!dorm.publish"
                  class="fa fa-times"
                  style="font-size: 15px; color: #94918c"
                  >Not For Rent</i
                >
          </p>
          <p class="card-details text-justify">{{ dorm.description }}</p>
          <p class="card-price">rent starts at ₱{{ dorm.rent }}</p>
        </div>
        <div class="px-4 border-t border-gray-300 bg-gray-100 landlord-details">
          <div class="text-xs uppercase font-bold text-gray-600 tracking-wide">
            Landlord
          </div>
          <div class="image-container">
            <div class="rounded-image-container">
              <img class="user-logo" [src]="dorm.user_image" alt="Image" />
            </div>
            <div class="text-container">
              <a class="username_link" (click)="visitProfile(dorm.user_id)"
                >{{ dorm.username }}
              </a>
              <p>+63{{ dorm.contact_number }}</p>
            </div>
          </div>
          <button
            *ngIf="currentUser.id != dorm.user_id"
            type="button"
            class="btn btn-primary btn-lg btn-block"
            (click)="openInfoSchedDialog(dorm)"
          >
            Schedule A Visit
          </button>
          <button
            *ngIf="currentUser.id == dorm.user_id"
            type="button"
            class="btn btn-primary btn-lg btn-block"
            (click)="openInfoSchedDialog(dorm)"
            disabled
          >
            Schedule A Visit
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" class="mb-5">
    <ng-template #noDormsPlaceholder>
      <div class="col-lg-12 text-center mb-5">
        <img src="assets/404.png" height="300px" width="300px" />
        <h3>No Dorm listing in this location yet</h3>
        <p>Let's <a href="dorms">see other listings</a></p>
      </div>
    </ng-template>
  </div>
</div>
