.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-post{
  text-align: center;
}

.search-bar {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}
.form-control {
  height: 50px;
  text-align: center;
  display: block;
}

.dorm_image{
  width: 100%;
  max-width: 500px;
  height: 300px;
}

.user-logo{
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  
}
.username{
  display: flex;
  align-items:initial;
  justify-content:left;
}
.username p{
  font-size: 15px;
  padding: 25px 10px 0;
}

.username a{
  font-size: 15px;
  padding: 25px 10px 0;
}

.username_link{
  font-size: 15px;
  padding: 25px 10px 0;
}

.username_link:hover{
  cursor: pointer;
  color: #0e4ad4;
}

.dorm-post-width{
  width: 50%;
}

.schedule-button{
    text-align: center;
}

.image-block {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
}

.image-block-inner {
  -webkit-box-shadow: 0px 3px 10px 1px rgba(204, 204, 204 0, 1);
  -moz-box-shadow: 0px 3px 10px 1px rgba(204, 204, 204 0, 1);
  box-shadow: 0px 3px 10px 1px rgba(204, 204, 204, 1);
}

.image-block li>.image-block-inner {
  padding-bottom: 5px;
  background-color: #fff;
  height: auto;
  width: 100%;
}

a {
  color: #111;
  text-decoration: none;
}

h2,
h4 a {
  text-transform: uppercase;
}

a:hover {
  text-decoration: none;
}

.image-block li>.image-block-inner>a {
  display: block;
  overflow: hidden;
}

.image-block li>.image-block-inner>a img {
  border: 1px solid #e1e1df;
}

.image-block li>.image-block-inner:hover {
  background-color: #eee;
}

.hp-posts-cat {
  margin-bottom: 13px;
  margin-top: 35px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  display: inline-block;
}

.news {
  font-family: 'Oswald', sans-serif;
}

.news .image-block li>.image-block-inner h4,
.hp-posts-cat,
.news .image-block li>.image-block-inner p,
.read-more {
  padding: 0 28px;
}

.read-more {
  display: block;
  text-decoration: underline;
  margin-top: 30px;
  font-weight: 600;
}

.swiper-class{
  margin: auto;
}

.tagline{
  padding-top: 100px;
}

.search-bar{
  padding-top: 40px;
}
/* Media Queries */

@media (min-width: 992px) {
  .col-md-5 {
    width: 41.66667%;
  }
}

@media (min-width: 768px) {
  .image-block li.image-block1 {
    padding-left: 26px;
    padding-right: 14.5px;
  }
}

@media (min-width: 1200px) {
  .image-block li>.image-block-inner>a {
    max-height: 245px;
  }
}

@media (min-width: 992px) {

  .pl-lg-0,
  .px-lg-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .ml-lg-0,
  .mx-lg-0 {
    margin-left: 0;
    margin-right: 0;
  }
}