.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.search-bar {
  width: 100%;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1rem;
  margin-top: 5%;
  padding-top: 30px;
}

.form {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
}

.width {
  width: 100%;
}



.form-control {
  height: 50px;
  text-align: center;
  display: block;
}

.swiper-class{
  margin: auto;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f9fa;
}

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin: 0 0 2rem 0;
  height: auto;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 200px;
  max-width: 400px;
  max-height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-details {
  color: #555;
  margin-bottom: 15px;
}

.card-price {
  color: #254396;
  font-size: 1.5em;
  font-weight: bold;
}

@media (max-width: 768px) {
  .card {
      max-width: 100%;
  }
}

.image-container {
  display: flex;
  align-items: left;
  margin: auto;
}

.rounded-image-container {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.rounded-image-container img {
  display: block;
  max-width: 50px;
  width: 40px;
  max-height: 50px;
  height: 40px;
  border-radius: 50%;
}

.text-container {
  font-size: 18px; /* Adjust the font size as needed */
}

.landlord-details{
  margin-bottom: 2rem;
}

.username_link:hover{
  cursor:pointer;
  color: rgb(18, 23, 99);
}

::ng-deep .mat-form-field-infix {
  padding: 4px 0; /* Adjust padding as needed */
}

::ng-deep .mat-select {
  font-size: 15px; /* Adjust font size as needed */
  min-height: auto; /* Adjust height as needed */
}

::ng-deep .mat-option {
  font-size: 12px; /* Adjust font size as needed */
  min-height: auto; /* Adjust height as needed */
}

